.user-card {
    display: flex;
    flex-direction: column;

    &__background {
        width: 100%;
        height: 200px;
        background: rgb(1, 182, 255);;
    }

    &__icon {
        margin-top: -100px;
        width: 130px;
        height: auto;
        border: 3px solid white;
        border-radius: 50%;
    }

    &__main-info {
        padding: 10px 15px 5px
    }

    &__name {
        color: black;
        font-weight: bold;
    }

    &__username {
        color: rgb(101, 119, 134);
    }

    &__description {
        display: flex;
        color: rgb(101, 119, 134);
        text-align: center;
        line-height: 33px;
        > span {
            margin-left: 5px;
        }
    }

    &__website {
        margin-left: 5px;
    }
}

.injected-svg {
    height: 33px;
    fill: rgb(101, 119, 134);
}