.user-container {
    display: flex;
    text-decoration: none;
    width: auto;

    padding: 10px 15px;
    min-width: 570px;

    &:hover {
        background: rgb(245, 248, 250);
        -webkit-transition: background-color 1s;
        transition: background-color 1s;
    }


    &__icon {
        width: 50px;
        height: auto;
        border-radius: 25px;
    }

    &__info {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }

    &__name {
        color: black;
        font-weight: bold;
    }

    &__username {
        color: rgb(101, 119, 134);
    }
}