.post-container {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(230, 236, 240);

    &__title {
        font-weight: bold;
        font-size: 15px;
    }

    &__body {
        font-size: 15px;
    }

    &__comments-section {
        > div:not(:first-child) {
            margin-top: 10px;
        }

        &--expanded {
            padding-top: 10px;
            max-height: 800px;
        }

        &--collapsed {
            max-height: 0;
        }

        transition: max-height 1s;
    }

    &__button {
        margin-left: auto;
        padding: 5px 5px 0 5px;
        border: none;
        background: none;
        outline:none;

        :hover {
            background: rgb(224, 239, 250);
            border-radius: 25px;
            -webkit-transition: background-color 1s;
            transition: background-color 1s;
        }

        &--collapsed {
             > img {
                transform: scaleY(-1);
            }
        }
    }
}