.app {
    display: flex;
    padding: 0 400px;

    @media (max-width: 1915px) {
        padding: 0 300px;
    }
    @media (max-width: 1432px) {
        padding: 0 200px;
    }
    @media (max-width: 1232px) {
        padding: 0 100px;
    }
    @media (max-width: 1032px) {
            padding: 0;
    }
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgb(231, 237, 241);
    border-right: 2px solid rgb(231, 237, 241);
}

.container__title {
    padding: 12px 15px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 800;
}

.container__content {
    max-width: 600px;
    border-top: 2px solid rgb(231, 237, 241);
}